In [ ]:
#pip install mysql-connector
#pip install mysql-connector-python
#pip install pandas mysql-connector-python
#pip install pymysql

In [1]:
# Importar librería para la conexión con MySQL
import pandas as pd
import mysql.connector 
from mysql.connector import errorcode

In [2]:
from sqlalchemy import create_engine

In [3]:
import numpy as np

In [4]:
# Pasamos los csv a df 

df_personal = pd.read_csv('info_personal.csv', index_col = 0)

df_salario = pd.read_csv('info_salario_1.csv', index_col = 0)

df_satisfaccion = pd.read_csv('info_satisfaction_1.csv', index_col = 0)

df_trabajo = pd.read_csv('info_trabajo.csv', index_col = 0)

In [19]:
# Tabla info personal

try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/estudio_satisfaccion')

    # Guardar en SQL
    df_personal.to_sql('info_personal', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

In [5]:
# Tabla satisfaccion

try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/estudio_satisfaccion')

    # Guardar en SQL
    df_satisfaccion.to_sql('satisfaccion', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

In [6]:
# Tabla de salario

try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/estudio_satisfaccion')

    # Guardar en SQL
    df_salario.to_sql('info_salario', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

In [22]:
# Tabla trabajo

try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/estudio_satisfaccion')

    # Guardar en SQL
    df_trabajo.to_sql('info_trabajo', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.