In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv("categoricos.csv", index_col=0)

In [17]:
df.head(10)

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
0,No,NaN,NaN,NaN,0,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,Yes
1,No,NaN,NaN,Life Sciences,0,ManAGeR,NaN,NaN,NaN,NaN,NaN,1
2,No,travel_rarely,Research & Development,Technical Degree,0,ManaGER,Married,NaN,No,NaN,ManaGER - Research & Development,1
3,No,travel_rarely,NaN,Medical,1,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,False
4,No,NaN,NaN,Technical Degree,1,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,0
5,No,NaN,Research & Development,Medical,1,MANAger,NaN,NaN,No,NaN,MANAger - Research & Development,Yes
6,No,NaN,NaN,Life Sciences,1,Sales ExeCutIVe,NaN,Y,NaN,Part Time,NaN,True
7,No,travel_rarely,NaN,NaN,0,Sales eXEcUTiVe,Married,NaN,No,Part Time,NaN,0
8,No,NaN,NaN,NaN,1,mANAGEr,Married,NaN,No,Full Time,NaN,True
9,No,travel_frequently,NaN,NaN,0,reSEaRCH DIrectoR,NaN,NaN,No,NaN,NaN,0

In [18]:
df["roledepartament"].value_counts()

roledepartament
rESEArcH SCiEntIst  -  Research & Development            2
MaNAgeR  -  Sales                                        2
hEalthCaRe reprEseNTaTiVe  -  Research & Development     2
SaleS EXeCuTivE  -  Sales                                2
labORAtoRy tEcHNICIAN  -  Research & Development         2
                                                        ..
labORaTORY teChNIcIaN  -  Research & Development         1
saLES eXEcUTiVE  -  Sales                                1
mANUfacTURiNG dIRectOR  -  Research & Development        1
huMAn ResOurces  -  Human Resources                      1
sAleS EXECUtIvE  -  Sales                                1
Name: count, Length: 301, dtype: int64

In [17]:
df["jobrole"].value_counts()

jobrole
mANager                    5
ManagEr                    3
mAnageR                    3
maNaGeR                    3
MANAgER                    3
                          ..
RESeaRCh sCientIsT         1
reseARCH sCIEntiST         1
REseaRCh SCiENTIst         1
LabOrATory TEChNICiaN      1
mAnUfactURInG DiRECTOr     1
Name: count, Length: 1579, dtype: int64

In [5]:
diccionario_gender={0: "M", 1: "F"}

In [19]:
df["gender"]=df["gender"].map(diccionario_gender)

In [20]:
df.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
0,No,NaN,NaN,NaN,M,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,Yes
1,No,NaN,NaN,Life Sciences,M,ManAGeR,NaN,NaN,NaN,NaN,NaN,1
2,No,travel_rarely,Research & Development,Technical Degree,M,ManaGER,Married,NaN,No,NaN,ManaGER - Research & Development,1
3,No,travel_rarely,NaN,Medical,F,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,False
4,No,NaN,NaN,Technical Degree,F,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,0

In [25]:
df["remotework"].value_counts()

remotework
1        375
True     362
False    318
0        318
Yes      305
Name: count, dtype: int64

In [21]:
df_replaced = df.replace({0: 'no', 1: 'yes', True: 'yes', False: 'no'})

In [22]:
df.sample(20)

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
1173,No,NaN,NaN,NaN,M,rEseaRch sCieNTIsT,Divorced,Y,NaN,NaN,NaN,1
841,No,travel_frequently,NaN,Medical,F,laborAToRy teCHnIcIAn,Single,NaN,NaN,Part Time,NaN,Yes
1634,No,NaN,NaN,NaN,F,salES ExEcuTiVE,Single,Y,No,Part Time,NaN,1
1057,Yes,NaN,NaN,NaN,F,HUMaN RESourcEs,Married,NaN,No,NaN,NaN,False
356,No,travel_rarely,NaN,NaN,M,RESEARCh SciENTist,Married,NaN,NaN,Part Time,NaN,1
1322,No,travel_rarely,NaN,Medical,M,ResEarCh ScIenTisT,Married,NaN,Yes,NaN,NaN,Yes
1281,No,travel_rarely,Research & Development,NaN,F,hEAlthCarE rEpresenTATiVe,Marreid,Y,No,Part Time,hEAlthCarE rEpresenTATiVe - Research & Deve...,True
188,Yes,travel_rarely,NaN,NaN,M,SALeS eXecUTiVe,Married,NaN,No,Full Time,NaN,0
196,No,travel_rarely,NaN,NaN,F,resEarcH sCiEnTISt,Married,NaN,No,Part Time,NaN,Yes
203,No,NaN,Research & Development,Life Sciences,M,labOraTORy techNicIan,NaN,NaN,No,Part Time,labOraTORy techNicIan - Research & Developm...,Yes
858,No,NaN,NaN,Life Sciences,M,mANuFActUrIng DireCTor,NaN,NaN,NaN,NaN,NaN,Yes
199,No,NaN,NaN,Other,F,SaLes ExecUtiVE,NaN,NaN,NaN,Part Time,NaN,True
826,No,NaN,Research & Development,Medical,M,mAnUfaCTuRing DiRecTor,Divorced,NaN,No,Part Time,mAnUfaCTuRing DiRecTor - Research & Develop...,0
1070,No,travel_rarely,NaN,Life Sciences,M,salES RepREsenTAtIvE,NaN,Y,Yes,Part Time,NaN,False
265,No,NaN,NaN,Life Sciences,M,laBoratoRY tECHNICiAN,NaN,NaN,NaN,Part Time,NaN,1
1340,No,NaN,NaN,NaN,F,HeALThcAre RePresENTATive,Divorced,Y,NaN,Full Time,NaN,False
1212,No,NaN,NaN,Life Sciences,F,reSEaRCh SCIEnTiSt,Married,NaN,No,NaN,NaN,True
879,No,NaN,NaN,NaN,M,REsEaRch scIeNtIsT,NaN,Y,NaN,Full Time,NaN,0
122,No,travel_rarely,Sales,Marketing,F,SaLES eXeCUtIVE,NaN,NaN,NaN,NaN,SaLES eXeCUtIVE - Sales,Yes
1466,No,NaN,Research & Development,NaN,M,LABOrATORy tEChNiCIaN,Married,NaN,No,Part Time,LABOrATORy tEChNiCIaN - Research & Developm...,True