In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("categoricos.csv", index_col=0)

In [3]:
df.head(10)

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
0,No,NaN,NaN,NaN,0,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,Yes
1,No,NaN,NaN,Life Sciences,0,ManAGeR,NaN,NaN,NaN,NaN,NaN,1
2,No,travel_rarely,Research & Development,Technical Degree,0,ManaGER,Married,NaN,No,NaN,ManaGER - Research & Development,1
3,No,travel_rarely,NaN,Medical,1,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,False
4,No,NaN,NaN,Technical Degree,1,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,0
5,No,NaN,Research & Development,Medical,1,MANAger,NaN,NaN,No,NaN,MANAger - Research & Development,Yes
6,No,NaN,NaN,Life Sciences,1,Sales ExeCutIVe,NaN,Y,NaN,Part Time,NaN,True
7,No,travel_rarely,NaN,NaN,0,Sales eXEcUTiVe,Married,NaN,No,Part Time,NaN,0
8,No,NaN,NaN,NaN,1,mANAGEr,Married,NaN,No,Full Time,NaN,True
9,No,travel_frequently,NaN,NaN,0,reSEaRCH DIrectoR,NaN,NaN,No,NaN,NaN,0

In [4]:
df["roledepartament"].value_counts()

roledepartament
rESEArcH SCiEntIst  -  Research & Development            2
LABOrATOrY TEchnIcIAn  -  Research & Development         2
Sales exECutIVE  -  Sales                                2
resEaRcH scIENTiSt  -  Research & Development            2
humAN resoURCEs  -  Human Resources                      2
                                                        ..
ManUFACtURiNg DiRECTOr  -  Research & Development        1
ResEARcH DiReCToR  -  Research & Development             1
MANAgER  -  Research & Development                       1
labORATORY TechnIcIaN  -  Research & Development         1
heaLtHcArE repResENtATiVe  -  Research & Development     1
Name: count, Length: 301, dtype: int64

In [5]:
df["jobrole"].value_counts()

jobrole
mANager                       5
maNaGeR                       3
ManageR                       3
MANAgER                       3
mAnaGeR                       3
                             ..
human RESOurceS               1
SaLeS exEcUTiVE               1
ReSEArch scieNTiST            1
HEaLTHCArE rEpreSeNtatiVE     1
ReseaRCh dIRecTor             1
Name: count, Length: 1579, dtype: int64

In [6]:
diccionario_gender={0: "M", 1: "F"}

In [7]:
df["gender"]=df["gender"].map(diccionario_gender)

In [8]:
df.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
0,No,NaN,NaN,NaN,M,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,Yes
1,No,NaN,NaN,Life Sciences,M,ManAGeR,NaN,NaN,NaN,NaN,NaN,1
2,No,travel_rarely,Research & Development,Technical Degree,M,ManaGER,Married,NaN,No,NaN,ManaGER - Research & Development,1
3,No,travel_rarely,NaN,Medical,F,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,False
4,No,NaN,NaN,Technical Degree,F,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,0

In [9]:
df["remotework"].value_counts()

remotework
1        375
True     362
False    318
0        318
Yes      305
Name: count, dtype: int64

In [15]:
df['remotework'] = df['remotework'].replace({'0': 'no', '1': 'yes', 'True': 'yes', 'False': 'no', 'Yes': 'yes'})

In [16]:
df

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime,standardhours,roledepartament,remotework
0,No,NaN,NaN,NaN,M,resEArch DIREcToR,NaN,Y,No,Full Time,NaN,yes
1,No,NaN,NaN,Life Sciences,M,ManAGeR,NaN,NaN,NaN,NaN,NaN,yes
2,No,travel_rarely,Research & Development,Technical Degree,M,ManaGER,Married,NaN,No,NaN,ManaGER - Research & Development,yes
3,No,travel_rarely,NaN,Medical,F,ReseArCH DIrECtOr,Married,Y,NaN,Full Time,NaN,no
4,No,NaN,NaN,Technical Degree,F,sAleS EXECUtIve,Divorced,Y,No,NaN,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...
1673,No,NaN,NaN,Medical,F,rESEaRcH SciEnTiST,Single,NaN,NaN,NaN,NaN,yes
1674,No,NaN,NaN,NaN,F,mANager,Married,Y,No,Full Time,NaN,no
1675,No,travel_rarely,NaN,NaN,M,reSearch sCienTiSt,NaN,NaN,No,Part Time,NaN,no
1676,No,travel_rarely,NaN,Life Sciences,F,maNufACTURING DIREctOr,Divorced,NaN,Yes,Part Time,NaN,yes
1677,No,NaN,NaN,Life Sciences,F,resEArch scIENTisT,Single,Y,Yes,Part Time,NaN,no