In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df_limpio = pd.read_csv('data_limpia_1.csv', index_col=0)
df_limpio.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,overtime,remotework,age,distancefromhome,education,employeenumber,environmentsatisfaction,jobinvolvement,joblevel,jobsatisfaction,monthlyincome,monthlyrate,numcompaniesworked,percentsalaryhike,performancerating,relationshipsatisfaction,stockoptionlevel,trainingtimeslastyear,worklifebalance,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,salary
0,no,non travel,unknown,unknown,M,research director,no,yes,51,6,3,1,1,3,5,3,16280.83,42330.17,7,13,3,3,0,5,3,20,15,15,195370.00
1,no,non travel,unknown,life sciences,M,manager,NaN,yes,52,1,4,2,1,2,5,3,16665.83,43331.17,0,14,3,1,1,5,3,33,11,9,199990.00
2,no,travel rarely,research & development,technical degree,M,manager,no,yes,42,4,2,3,1,3,5,4,16026.67,41669.33,1,11,3,4,0,3,3,22,11,15,192320.00
3,no,travel rarely,unknown,medical,F,research director,NaN,no,47,2,4,4,1,3,4,3,14307.50,37199.50,3,19,3,2,2,2,3,20,5,6,171690.00
4,no,non travel,unknown,technical degree,F,sales executive,no,no,46,3,3,5,1,4,4,1,12783.92,33238.20,2,12,3,4,1,5,3,19,2,8,153407.04

In [3]:
df_limpio.columns

Index(['attrition', 'businesstravel', 'department', 'educationfield', 'gender',
       'jobrole', 'overtime', 'remotework', 'age', 'distancefromhome',
       'education', 'employeenumber', 'environmentsatisfaction',
       'jobinvolvement', 'joblevel', 'jobsatisfaction', 'monthlyincome',
       'monthlyrate', 'numcompaniesworked', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'trainingtimeslastyear', 'worklifebalance', 'yearsatcompany',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'salary'],
      dtype='object')

In [ ]:
## Dividimos las columnas del DF por cada tabla para crear en SQL.

In [16]:
info_personal = ['employeenumber','age','gender', 'education', 'educationfield']

In [4]:
info_satisfaction = ['employeenumber', 'environmentsatisfaction','relationshipsatisfaction', 'jobsatisfaction','jobinvolvement','performancerating','worklifebalance']

In [3]:
info_salario = ['employeenumber','monthlyincome','monthlyrate','percentsalaryhike','salary']

In [23]:
info_trabajo = ['employeenumber', 'attrition', 'businesstravel', 'jobrole','department', 'joblevel','overtime', 'remotework','distancefromhome', 'numcompaniesworked', 'trainingtimeslastyear',  'yearsatcompany',
       'yearssincelastpromotion', 'yearswithcurrmanager','stockoptionlevel']

In [ ]:
## Creamos 4 dataframes (uno por tabla) y pasamos a CSV

In [ ]:

df_info_personal = df_limpio[info_personal]

In [29]:
df_info_personal.to_csv("info_personal.csv", index=True)

In [5]:
df_info_satisfaction = df_limpio[info_satisfaction]

In [6]:
df_info_satisfaction.to_csv("info_satisfaction_1.csv", index=True)

In [7]:
df_info_salario = df_limpio[info_salario]

In [8]:
df_info_salario.to_csv("info_salario_1.csv", index=True)

In [38]:
df_info_trabajo = df_limpio[info_trabajo]

In [39]:
df_info_trabajo.to_csv("info_trabajo.csv", index=True)