In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
# Crear un dataframe
df_numericos = pd.read_csv('CSV/numericos.csv', index_col=0)

In [3]:
df_numericos.head(10)

,age,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,hourlyrate,jobinvolvement,joblevel,jobsatisfaction,monthlyincome,monthlyrate,numcompaniesworked,percentsalaryhike,performancerating,relationshipsatisfaction,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,numberchildren
0,51,2015.722222,6,3,1,1,1,NaN,3,5,3,16280.83,42330.17,7,13,3.0,3,0,NaN,5,3.0,20,NaN,15,15,16280.83,1972,195370.00,NaN
1,52,2063.388889,1,4,1,2,3,NaN,2,5,3,NaN,43331.17,0,14,3.0,1,1,34.0,5,3.0,33,NaN,11,9,NaN,1971,199990.00,NaN
2,42,1984.253968,4,2,1,3,3,NaN,3,5,4,NaN,41669.33,1,11,3.0,4,0,22.0,3,NaN,22,NaN,11,15,NaN,1981,192320.00,NaN
3,47,1771.404762,2,4,1,4,1,NaN,3,4,3,14307.50,37199.50,3,19,3.0,2,2,NaN,2,NaN,20,NaN,5,6,14307.50,1976,171690.00,NaN
4,46,1582.771346,3,3,1,5,1,NaN,4,4,1,12783.92,33238.20,2,12,3.0,4,1,NaN,5,3.0,19,NaN,2,8,12783.92,1977,NaN,NaN
5,48,1771.920635,22,3,1,6,4,NaN,3,4,4,14311.67,37210.33,3,11,3.0,2,1,NaN,3,3.0,22,NaN,4,7,14311.67,1975,NaN,NaN
6,59,1032.487286,25,3,1,7,1,NaN,3,3,1,8339.32,21682.23,7,11,3.0,4,0,28.0,3,2.0,21,NaN,7,9,8339.32,1964,100071.84,NaN
7,42,556.256661,1,1,1,8,2,69.532083,3,2,3,NaN,11681.39,1,25,4.0,3,0,20.0,3,3.0,20,NaN,11,6,NaN,1981,53914.11,NaN
8,41,1712.182540,2,5,1,9,2,NaN,3,4,1,13829.17,35955.83,7,16,3.0,2,1,22.0,2,3.0,18,NaN,11,8,13829.17,1982,165950.00,NaN
9,41,1973.984127,9,3,1,10,1,NaN,3,5,3,15943.72,41453.67,2,17,3.0,2,1,21.0,2,4.0,18,NaN,0,11,15943.72,1982,NaN,NaN

In [4]:
df_numericos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   int64
 1   dailyrate                 1678 non-null   float64
 2   distancefromhome          1678 non-null   int64
 3   education                 1678 non-null   int64
 4   employeecount             1678 non-null   int64
 5   employeenumber            1678 non-null   int64
 6   environmentsatisfaction   1678 non-null   int64
 7   hourlyrate                411 non-null    float64
 8   jobinvolvement            1678 non-null   int64
 9   joblevel                  1678 non-null   int64
 10  jobsatisfaction           1678 non-null   int64
 11  monthlyincome             1189 non-null   float64
 12  monthlyrate               1678 non-null   float64
 13  numcompaniesworked        1678 non-null   int64
 14  percentsalaryhike         1678 non-null   int64
 15  performancerating         1478 non-null   float64
 16  relationshipsatisfaction  1678 non-null   int64
 17  stockoptionlevel          1678 non-null   int64
 18  totalworkingyears         1129 non-null   float64
 19  trainingtimeslastyear     1678 non-null   int64
 20  worklifebalance           1564 non-null   float64
 21  yearsatcompany            1678 non-null   int64
 22  yearsincurrentrole        35 non-null     float64
 23  yearssincelastpromotion   1678 non-null   int64
 24  yearswithcurrmanager      1678 non-null   int64
 25  sameasmonthlyincome       1189 non-null   float64
 26  datebirth                 1678 non-null   int64
 27  salary                    1393 non-null   float64
 28  numberchildren            0 non-null      float64
dtypes: float64(11), int64(18)
memory usage: 393.3 KB

In [5]:
df_numericos.columns

Index(['age', 'dailyrate', 'distancefromhome', 'education', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobsatisfaction', 'monthlyincome',
       'monthlyrate', 'numcompaniesworked', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'numberchildren'],
      dtype='object')

## Comprobaciones

In [14]:
df_numericos.columns

Index(['age', 'dailyrate', 'distancefromhome', 'education', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobsatisfaction', 'monthlyincome',
       'monthlyrate', 'numcompaniesworked', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'numberchildren'],
      dtype='object')

In [134]:
# Contar cuántos valores negativos hay una columna
negativos1 = (df_numericos["numberchildren"] < 0).sum()
print(f"Número de valores negativos en 'numberchildren': {negativos1}")

Número de valores negativos en 'numberchildren': 0

In [139]:
df_numericos['numberchildren'].dtype

dtype('float64')

In [145]:
# Verificar duplicados
df_numericos['numberchildren'].duplicated().sum()

1677

In [144]:
#Ver nulos
df_numericos['numberchildren'].isnull().sum()

1678

In [143]:
df_numericos["numberchildren"].unique()

array([nan])

In [142]:
df_numericos['numberchildren'].value_counts()

Series([], Name: count, dtype: int64)